<% provide(:title, 'English to Arabic Translation') %>
<!-- %= render('static_pages/slider/slider') % -->
<!-- Purchase Block -->
<div class="row-fluid purchase margin-bottom-30">
  <div class="container">
    <div class="span9">
      <div class="headline"><h1>Professional Arabic Translation Services</h1></div>
      
      <p>If you are looking for high quality Arabic translations, you have come to the right place. We here at LingoKey are the UK's leading specialists in Arabic translation services.</p>
      <p>Many leading brands entrust us with their Arabic translations - and we would be proud to work for you too.</p>

      <p>We offer all the <a href="#howCanWeHelp" data-toggle="modal">services you need</a> for your Arabic translation project including:</p>
      <%= render('static_pages/home/modals/how_can_we_help') %>
      
      <ul>
        <li>High quality Arabic translation services</li>
        <li>Desktop publishing, for great looking Arabic documentation
        <li>Web publishing, to ensure that your online Arabic content displays correctly and remains functional</li>
      </ul>
      
      <p>We are so confident you will like our translation services, we <a href="#peaceOfMind" data-toggle="modal">guarantee</a> it!</p>
      <%= render('static_pages/home/modals/peace_of_mind') %>

      <p>Would you like a quote for your Arabic translation project? Click <a href="/contact">here</a> to claim your free, no obligation quote, returned to you within 24 hours.</p>

      <!--
      Do you want to find out more about our expertise? Press here to visit our homepage, or visit our blog to see our thoughts on all things Middle Eastern. -->

      <p>Thank you for visiting our page, we hope you choose us to be your Arabic translation partner.</p>
      <!-- If you are not ready to work with us just yet, we hope to see you in the future. Click here to bookmark us! -->
      
      <%= link_to 'Contact Us Now', contact_path, :class => 'btn-buy hover-effect' %>
      
    </div>
  </div>
</div><!--/row-fluid-->
<!--//End Purchase Block -->

<div class="container">
  <div id="clients-flexslider" class="flexslider home clients">
    <div class="headline"><h3>Our Clients</h3></div>	
    <ul class="slides">
      <!-- <li><a href="index.html#"><%= image_tag('clients/scania_grey.png')%> <%= image_tag('clients/scania.png', class:"color-img")%></a></li> -->
      <li><a href="index.html#"><%= image_tag('clients/nikon_grey.png')%> <%= image_tag('clients/nikon.png', class:"color-img")%></a></li>
      <li><a href="index.html#"><%= image_tag('clients/xerox_grey.png')%> <%= image_tag('clients/xerox.png', class:"color-img")%></a></li>
      <li><a href="index.html#"><%= image_tag('clients/whirlpool_grey.png')%> <%= image_tag('clients/whirlpool.png', class:"color-img")%></a></li>
      <li><a href="index.html#"><%= image_tag('clients/ge_grey.png')%> <%= image_tag('clients/ge.png', class:"color-img")%></a></li>
      <li><a href="index.html#"><%= image_tag('clients/fd_grey.png')%> <%= image_tag('clients/fd.png', class:"color-img")%></a></li>
      <li><a href="index.html#"><%= image_tag('clients/onecom_grey.png')%> <%= image_tag('clients/onecom.png', class:"color-img")%></a></li>
      <li><a href="index.html#"><%= image_tag('clients/california_grey.png')%> <%= image_tag('clients/california.png', class:"color-img")%></a></li>
      <li><a href="index.html#"><%= image_tag('clients/CAT_grey.png')%> <%= image_tag('clients/CAT.png', class:"color-img")%></a></li>
      <li><a href="index.html#"><%= image_tag('clients/NHS_grey.png')%> <%= image_tag('clients/NHS.png', class:"color-img")%></a></li>
      <li><a href="index.html#"><%= image_tag('clients/minetech_grey.png')%> <%= image_tag('clients/minetech.png', class:"color-img")%></a></li>
      <li><a href="index.html#"><%= image_tag('clients/isuzu_grey.png')%> <%= image_tag('clients/isuzu.png', class:"color-img")%></a></li>
      <li><a href="index.html#"><%= image_tag('clients/AFS_grey.png')%> <%= image_tag('clients/AFS.png', class:"color-img")%></a></li>        
    </ul>
  </div>
  <%= render('static_pages/slider/slider_js') %> 
  
  <br />
  
  <div class="headline"><h3>Pricing</h3></div>
  <div class="row-fluid pricing-table pricing-two-column">
    <div class="span4 plan">
      <div>
        <h2><i class="icon-globe"></i> Translation</h2>
      </div>
      <ul>
        <li class="plan-feature"><h4><small>Starting from</small> £0.08 <small>per word</small></h4></li>
        <li class="plan-feature">The very best Middle Eastern translators working for you.</li>
        <li class="plan-feature"><%= link_to 'Contact Us', contact_path, :class => 'btn btn-primary btn-plan-select' %></li>
      </ul>
    </div>
    <div class="span4 plan">
      <div>
        <h2><i class="icon-text-width"></i> Typesetting</h2>
        </div>
      <ul>
        <li class="plan-feature"><h4><small>Starting from as little as</small> £3 <small>per page</small></h4></li>
        <li class="plan-feature">Giving your documentation that polished look, ready for your target market.</li>
        <li class="plan-feature"><%= link_to 'Contact Us', contact_path, :class => 'btn btn-primary btn-plan-select' %></li>
      </ul>
    </div>
    <div class="span4 plan">
      <div>
        <h2><i class="icon-tablet"></i> Publishing</h2>
      </div>
      <ul>
        <li class="plan-feature"><h4><small>Starting from </small>£99</h4></li>
        <li class="plan-feature">Helping you prepare your publishing systems for Middle Eastern content</li>
        <li class="plan-feature"><%= link_to 'Contact Us', contact_path, :class => 'btn btn-primary btn-plan-select' %></li>
      </ul>
    </div>
  </div>
  
