<%= render('static_pages/slider/slider') %>
<!-- Purchase Block -->
<div class="row-fluid purchase margin-bottom-30">
  <div class="container">
    <div class="span9">
      <span>LingoKey are a UK based translation agency specialising in Middle-Eastern languages.</span>
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi  vehicula sem ut volutpat. Ut non libero magna fusce condimentum eleifend enim a feugiat.</p>
    </div>
    <a href="" class="btn-buy hover-effect">Get a quote now</a>
  </div>
</div><!--/row-fluid-->
<!--//End Purchase Block -->

<div class="container">
  <!-- Service Blocks -->
  <div class="row-fluid">
    <div class="span6">
      <div class="service clearfix">
        <i class="icon-plane"></i>
        <div class="desc">
          <h4>Middle-Eastern expertise</h4>
          <p>Europe's leading Middle Eastern translation services provider, we deliver translations that connect you with your Middle Eastern markets and strengthen your brand.</p>
          <p>LingoKey offer all the services required to produce great translations:</p>
          <ul>

            <li>High quality translation services</li>
            <li>Full product testing</li>
            <li>Typesetting services</li>
            <li>Software engineering capability</li>
            <li>Interpreting services</li>
          </ul>

          <p>Whether you require a full localisation solution or just a quick translation of your documents, we will tailor our delivery to your requirements.</p>
          <p>Speak to us to find our more about a company committed to solving your language needs.
          </p>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="service clearfix">
        <i class="icon-lightbulb"></i>
        <div class="desc">
          <h4>The LingoKey difference</h4>

          <p>Five reasons why you should consider LingoKey for your next translation project:</p>
          <ol>
            <li>UK based for local service</li>
            <li>Right first time approach</li>
            <li>Proven reliability and scalablity</li>
            <li>Benchmarked rates</li>
            <li>Technology solutions</li>
          </ol>
          <p>Our customers appreciate our deep understanding of their requirements, our local support when they need it, our Monday to Friday availability - and of course our high quality Middle Eastern translations.</p>
          <p>When you buy LingoKey translations, you don't just get great quality, you get content that will publish correctly on your systems - first time.</p>
          <p>This is the LingoKey difference.</p>

        </div>
      </div>
    </div>
  </div><!--/row-fluid-->
  <!-- //End Service Blocks -->

  <!-- Blockquotes -->
  <div class="row-fluid margin-bottom-30">
    <blockquote class="hero"><!-- add class pagination-centered to center the text-->
      <p>Lorem sequat ipsum dolor lorem sit amet, Lorem sequat ipsum dolor lorem sit amet consectetur adipiscing dolor elit.</p>
      <small>CEO, James Keane</small>
    </blockquote>
  </div><!--/row-fluid-->
  <!-- //End Blockquotes -->

  <!-- Recent Works -->
  <div class="headline"><h3>Recent projects</h3></div>
  <ul class="thumbnails">
    <li class="span3">
      <div class="thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden"><%= image_tag('carousel/2.jpg') %></div>
          <a class="btn-more hover-effect" href="index.html#">read more +</a>
        </div>
        <h3><a class="hover-effect" href="index.html#">Job 1</a></h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden"><%= image_tag('carousel/3.jpg') %></div>
          <a class="btn-more hover-effect" href="index.html#">read more +</a>
        </div>
        <h3><a class="hover-effect" href="index.html#">Job 2</a></h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden"><%= image_tag('carousel/9.jpg') %></div>
          <a class="btn-more hover-effect" href="index.html#">read more +</a>
        </div>
        <h3><a class="hover-effect" href="index.html#">Job 3</a></h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden"><%= image_tag('carousel/10.jpg') %></div>
          <a class="btn-more hover-effect" href="index.html#">read more +</a>
        </div>
        <h3><a class="hover-effect" href="index.html#">Job 4</a></h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
      </div>
    </li>
  </ul><!--/thumbnails-->
  <!-- //End Recent Works -->


  <div class="headline"><h3>The LingoKey difference</h3></div>
  <!-- Service blocks -->
  <div class="row-fluid servive-block">
    <div class="span4">
      <h4>Lorem sequat ipsum de</h4>
      <p><i class="icon-bell"></i></p>
      <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
    </div>
    <div class="span4">
      <h4>Vivamus imperdiet gravi</h4>
      <p><i class="icon-bullhorn"></i></p>
      <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
    </div>
    <div class="span4">
      <h4>Donec idslacs elit nomi</h4>
      <p><i class="icon-lightbulb"></i></p>
      <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus, tellus ac cursus comodo egetine metuss gorp.</p>
    </div>
  </div><!--/row-fluid-->
  <!-- //End Service Blokcs -->
</div>

<%= render('static_pages/slider/slider_js') %>