<% provide(:title, 'Home') %>
<%= render('static_pages/slider/slider') %>
<!-- Purchase Block -->
<div class="row-fluid purchase margin-bottom-30">
  <div class="container">
    <div class="span9">
      <span>Middle Eastern translations that work</span>

      <p>The Middle East can be a complex market to translate for. The right to left nature of the languages, and the
        limited support for publishing this content on Western software platforms, can make generating high quality,
        functional content a challenge. We are here to manage these complexities for you.</p>

      <p>We combine the best language resources with expertise in publishing Middle Eastern content, to provide the high
        quality and fully functional localisations you require.</p>
    </div>
    <%= link_to 'Get a quote now', contact_path, :class => 'btn-buy hover-effect' %>
  </div>
</div><!--/row-fluid-->
<!--//End Purchase Block -->

<div class="container">
  <%= render('static_pages/home/service_blocks') %>
<div class="row-fluid lang-bar">
 	<div class="span12">
	<div class="span2 lang-box"><span class="lang">العربية</span></div>
	<div class="span2 lang-box"><span class="lang">עברית</span></div>
	<div class="span2 lang-box"><span class="lang">کوردی</span></div>
	<div class="span2 lang-box"><span class="lang">فارسی</span></div>
	<div class="span2 lang-box"><span class="lang">Türk</span></div>
	<div class="span2 lang-box"><span class="lang-last">دری</span></div>
	</div>
</div>
  <%= render('static_pages/home/case_studies') %>
</div>

<%= render('static_pages/slider/slider_js') %>