<!-- Modal -->
<div id="lingokeyDifference" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">The LingoKey Difference</h3>
  </div>
  <div class="modal-body">
    <p>Five reasons why you should consider LingoKey for your next translation project:</p>

    <div class="accordion" id="accordion3">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2One">
            <%= image_tag("dropdown.png", height: '18', width: '18', class: "accordian-drop-img") %>1. UK based for easy communication and on-site support
          </a>
        </div>
        <div id="collapse2One" class="accordion-body collapse">
          <div class="accordion-inner">
            <p>At times you need to know that expertise is only a phone call away, or that your vendor can come and
              provide you with emergency on-site support.</p>

            <p>We are the only UK based specialist translation services provider for Middle Eastern languages. We are in
              your time zone, available when you need us to be, and we like to travel!</p>

            <p>With us, you get the support that you need for that emergency response, for your tricky projects - and
              for your peace of mind.</p>
          </div>
        </div>
      </div>

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2Two">
            <%= image_tag("dropdown.png", height: '18', width: '18', class: "accordian-drop-img") %>2. Reduce your rework through right first time translations
          </a>
        </div>
        <div id="collapse2Two" class="accordion-body collapse">
          <div class="accordion-inner">
            <p>Your time is important, you don’t want to have to spend time reworking documentation that you have sent
              for translation. At LingoKey we understand that it isn’t just great translation that you need but great
              looking deliverables.</p>

            <p>With our knowledge gained through over 15 years experience in the industry, we are aware of the pitfalls
              and know how to avoid them. This enables us to deliver finalised translated documents that are right first
              time, everytime.</p>
          </div>
        </div>
      </div>

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2Three">
            <%= image_tag("dropdown.png", height: '18', width: '18', class: "accordian-drop-img") %>3. Future proof solutions that scale with your business
          </a>
        </div>
        <div id="collapse2Three" class="accordion-body collapse">
          <div class="accordion-inner">
            <p>When choosing your translation partner it is important to have someone who can meet your needs even as
              your requirements change. With LingoKeys extensive translator network you can be sure that no matter how
              big the job, we will be able to scale up to meet your needs.</p>

            <p>Our case studies highlight some recent examples of our customers' requirements, and how we successfully
              supported them. Get in touch to find out what we can do for you!</p>
          </div>
        </div>
      </div>

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2Four">
            <%= image_tag("dropdown.png", height: '18', width: '18', class: "accordian-drop-img") %>4. Great value through rates benchmarked against Middle Eastern vendors
          </a>
        </div>
        <div id="collapse2Four" class="accordion-body collapse">
          <div class="accordion-inner">
            <p>You want and deserve a translation services provider who offers exceptional service, but you also have to
              work within your budget.</p>

            <p>In order to ensure that we are competitive, we benchmark our rates against translation vendors based in
              the Middle East. You get the benefit our our expertise and our local presence without having to pay any
              extra for it. And you can be sure that we offer you great value.</p>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2Five">
            <%= image_tag("dropdown.png", height: '18', width: '18', class: "accordian-drop-img") %>5. Technology language solutions to keep you ahead of the competition
          </a>
        </div>
        <div id="collapse2Five" class="accordion-body collapse">
          <div class="accordion-inner">
            <p>Localisation technologies will accelerate your time to market and reduce your costs. Your translation
              services provider needs to manage your projects responsibly, to ensure you get the high quality returns
              that give you that competitive edge.</p>

            <p>LingoKey utilise the latest translation technology to manage your content and maximise your re-use. We
              will manage your content for you, collecting all your previous translations and recycling them in your
              future projects. We will provide you with ongoing and recurring savings: the more you translate with us,
              the greater the savings our technology provides you with.</p>

            <p>We will learn from your feedback, collecting the specific terminology that makes your brand and product
              unique, and enforcing these in future translations.</p>

            <p>With our focus on the Middle East, we offer you bespoke software to boost translation quality and further
              accelerate your time to market. Contact us to find out more about our technology offering.</p>
          </div>
        </div>
      </div>
    </div>

    <p>Our customers appreciate our deep understanding of their requirements, our local support when they need it, and
      of course our high quality Middle Eastern translations.</p>

    <p>When you buy LingoKey translations, you don't just get great quality, you get content that will publish correctly
      on your systems. We specialise in making your Middle East translation experience easy.</p>

  </div>
  <div class="modal-footer">
    <button class="btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>