<% provide(:title, 'Contact Us') %>
<!-- Purchase Block -->
<div class="row-fluid purchase margin-bottom-30">
  <div class="container">
    <div class="span6">
      <div class="headline"><h3>Send us a message</h3></div>
      <%= form_for @message, :url => contact_path, html: {class: "form-horizontal"} do |form| %>
        <div class="control-group">
          <label class="control-label" for="name">Name</label>

          <div class="controls">
            <%= form.text_field :name %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="subject">Subject</label>

          <div class="controls">
            <%= form.text_field :subject %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="email">Email</label>

          <div class="controls">
            <%= form.text_field :email %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="phone">Telephone</label>

          <div class="controls">
            <%= form.text_field :telephone %>
          </div>
        </div>
		<div class="control-group">
          <label class="control-label" for="phone">Message</label>

          <div class="controls">
            <%= form.text_area :body %>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn">Send Message</button>
          </div>
        </div>

      <% end %>
    </div>
    <div class="span6">
      <div class="headline"><h3>Email or call us</h3></div>
      	<address>
        LingoKey Ltd<br/>
        11 Rays Avenue<br/>
        Windsor<br/>
        SL4 5HG<br/><br />
		  Telephone: +44 (0)1753 290001<br />
        Email: <a href="mailto:info@lingokey.com" class="">info@lingo-key.com</a>
      </address>
      <div class="headline"><h3>Social networks</h3></div>
      <ul class="social-icons">
        <li><a href="https://www.facebook.com/LingoKey" target="_blank" data-original-title="Facebook" class="facebook"></a></li>
        <li><a href="https://twitter.com/lingokey" target="_blank" data-original-title="Twitter" class="twitter"></a></li>
      </ul>
    </div>
  </div>
</div><!--/row-fluid-->
