<!-- Recent Works -->
<div class="headline"><h3>Case Studies</h3></div>
<ul class="thumbnails">
  <li class="span3">
    <div class="thumbnail-style thumbnail-kenburn">
      <div class="thumbnail-img">
        <div class="overflow-hidden"><%= image_tag('carousel/8.jpg') %></div>
        <a class="btn-more hover-effect" href="#largeVolume" data-toggle="modal">read more +</a>
      </div>
      <h3><a class="hover-effect" href="#largeVolume" data-toggle="modal">Large Volume and Bespoke</a></h3>

      <p>Our client, a large Language Services Provider, required LingoKey's support with translation capacity for a
        major automotive client expanding their operations in the Middle East.</p>
      <%= render('static_pages/home/modals/large_volume') %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail-style thumbnail-kenburn">
      <div class="thumbnail-img">
        <div class="overflow-hidden"><%= image_tag('carousel/2.jpg') %></div>
        <a class="btn-more hover-effect" href="#fastTurnaround" data-toggle="modal">read more +</a>
      </div>
      <h3 class="case-study"><a class="hover-effect" href="#largeVolume" data-toggle="modal">Fast turnaround Jobs</a>
      </h3>

      <p>Our client required LingoKey's support with providing regular fast turnaround technical bulletin and product
        recall information.</p>
      <%= render('static_pages/home/modals/fast_turnaround') %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail-style thumbnail-kenburn">
      <div class="thumbnail-img">
        <div class="overflow-hidden"><%= image_tag('carousel/7.jpg') %></div>
        <a class="btn-more hover-effect" href="#completeWorkflow" data-toggle="modal">read more +</a>
      </div>
      <h3 class="case-study">
        <a class="hover-effect" href="#completeWorkflow" data-toggle="modal">Complete Translation Workflow</a></h3>

      <p>A large multinational manufacturer of electrical and lighting equipment required LingoKey to provide Arabic
        translations for installation guides. As the customer did not have in-house Arabic expertise, LingoKey's
        deliverables needed to be fit for publishing without customer review.</p>
      <%= render('static_pages/home/modals/complete_workflow') %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail-style thumbnail-kenburn">
      <div class="thumbnail-img">
        <div class="overflow-hidden"><%= image_tag('carousel/5.jpg') %></div>
        <a class="btn-more hover-effect" href="#softwareEngineering" data-toggle="modal">read more +</a>
      </div>
      <h3 class="case-study">
        <a class="hover-effect" href="#softwareEngineering" data-toggle="modal">Software Engineering and Consultancy</a>
      </h3>

      <p>Our client, a multinational document management corporation, approached LingoKey with a view to outsourcing a
        software development project aimed at improving its technology support for Middle Eastern languages.</p>
      <%= render('static_pages/home/modals/software_engineering') %>
    </div>
  </li>
</ul><!--/thumbnails-->
<!-- //End Recent Works -->