<!-- Recent Works -->
<div class="headline"><h3>Case Studies</h3></div>
<ul class="thumbnails">
  <li class="span3">
    <div class="thumbnail-style thumbnail-kenburn">
      <div class="thumbnail-img">
        <div class="overflow-hidden"><%= image_tag('carousel/freightliner-trucks-07.jpg') %></div>
        <a class="btn-more hover-effect" href="#largeVolume" data-toggle="modal">read more +</a>
      </div>
      <h3><a class="hover-effect" href="#largeVolume" data-toggle="modal">Handling large volumes</a></h3>

      <p>3 million words of Persian translations within 3 months? Find out how we did it.</p>
      <%= render('static_pages/home/modals/large_volume') %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail-style thumbnail-kenburn">
      <div class="thumbnail-img">
        <div class="overflow-hidden"><%= image_tag('carousel/an_old_clock.jpg') %></div>
        <a class="btn-more hover-effect" href="#fastTurnaround" data-toggle="modal">read more +</a>
      </div>
      <h3 class="case-study"><a class="hover-effect" href="#largeVolume" data-toggle="modal">Fast turnaround Jobs</a>
      </h3>

      <p>We understand that your translation requirement is time critical. This is how we can help.</p>
      <%= render('static_pages/home/modals/fast_turnaround') %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail-style thumbnail-kenburn">
      <div class="thumbnail-img">
        <div class="overflow-hidden"><%= image_tag('carousel/Magazine_Stack.jpg') %></div>
        <a class="btn-more hover-effect" href="#completeWorkflow" data-toggle="modal">read more +</a>
      </div>
      <h3 class="case-study">
        <a class="hover-effect" href="#completeWorkflow" data-toggle="modal">Creating the deliverable</a></h3>

      <p>Do you require your translation vendor to deliver ready to publish documentation?</p>
      <%= render('static_pages/home/modals/complete_workflow') %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail-style thumbnail-kenburn">
      <div class="thumbnail-img">
        <div class="overflow-hidden"><%= image_tag('carousel/zen_programming.jpg') %></div>
        <a class="btn-more hover-effect" href="#softwareEngineering" data-toggle="modal">read more +</a>
      </div>
      <h3 class="case-study">
        <a class="hover-effect" href="#softwareEngineering" data-toggle="modal">Software engineering</a>
      </h3>

      <p>Middle Eastern languages can have complex technological requirements. We have the expertise to support.</p>
      <%= render('static_pages/home/modals/software_engineering') %>
    </div>
  </li>
</ul><!--/thumbnails-->
<!-- //End Recent Works -->
