<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <% if Rails.env.production? %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45110502-2', 'lingo-key.com');
      ga('send', 'pageview');
    </script>
  <% elsif Rails.env.test? %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45110502-1', 'lingo-key.com');
      ga('send', 'pageview');
    </script>
  <% elsif Rails.env.development? %>
    <script></script>
  <% end %>
  
  <!-- script block for hooking up GA onclick events -->
  
  <% if (Rails.env.production? || Rails.env.test? || Rails.env.development?) %>
    <script>
      $('a').click(function(){
        ga('send', 'event', 'button', 'click', $("this").attr('href'), 0);
      });
    </script>
  <% end %>
</head>
<body>

    <%= render('layouts/top') %>
    <!--=== Content part ===-->
    <div id="body">
        <%= yield %>
    </div>
    <%= render('layouts/bottom') %>
    <%= render('layouts/copyright') %>


</body>
</html>
